.pasto{
	width: intrinsic;
	height: intrinsic;
	background-color: #9BBC57;
	padding: 2%;
	margin: auto;
	position: static;
}
.cancha{
	width: 1000px;
	height: 600px;
	border: solid #FFFFFF 2px;
	position: relative;
}
.porterias{	
	width: 100px;
	height: 200px;
	border: solid 2px #FFFFFF;
	margin-top: 20%;
}
.visitante{
	left: 90%;
}
.circulo {
    width: 180px;
    height: 180px;
    border: solid #FFFFFF;
    border-radius: 100px;
	margin-left: 42%;
	margin-top: 21%;   	
	display: inline-block;
}
.bola1{
	top: 34%;
	left: 9%;
}
.bola2{
	top: 18%;
	left: 53%; 
}
.bola3{
	top: 62%;
	left: 87%;
}
.absolute{
	position: absolute;
}